<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="internalResourceViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/webs/" p:suffix=".jsp">
		
	</bean>
	 <!-- 웹컨트   -->
	<bean id="lruntradeWebcont" class="com.ezer_g.www.web.ezerWebcon">
		<property name="service" ref="lrunSIMp"></property>
	</bean>
 <!-- dao임플   -->
	<bean id="lrtMemImp" class="com.ezer_g.www.dao.LrtMemImp">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="ltadminImp" class="com.ezer_g.www.dao.LtadminImp">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
 <!-- 서비스 임플  -->
	<bean id="lrunSIMp" class="com.ezer_g.www.service.LrunSIMp">
		<property name="lmem" ref="lrtMemImp"></property>
		<property name="lad" ref="ltadminImp"></property>
	</bean>




</beans>


<!-- mysql 외부 접속 use mysql; select host,user from user; host에 설정된 ip를 내가 
	외부에서 접속할 ip로 변경해 준다 update user set host='192.168.0.%' where user ='root' 
	and host='192.168.1.%'; FLUSH PRIVILEGES; commit; -->
