<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="internalResourceViewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/webs/" p:suffix=".jsp"></bean>
	<!-- 공통 관심사 -->
 <aop:config />
 <aop:aspectj-autoproxy />
	<bean id="mainAop" class="com.ezer_g.www.aop.mainAop">	</bean> 
	<bean id="fileLogger" class="com.ezer_g.www.aop.fileLogger"></bean> 

	<!-- 웹컨트 -->
	<bean id="ezerWebcont" class="com.ezer_g.www.web.ezerWebcon">
		<property name="service" ref="ezer_Notice_Service_IMp"></property>
	</bean>
	<bean id="ezerDataCont" class="com.ezer_g.www.web.ezerDataCont">
		<property name="service" ref="ezer_Notice_Service_IMp"></property>
	</bean>

<!-- dao임플 -->

	<bean id="dao_Dao_Ezer_notice_imp" class="com.ezer_g.www.dao.Dao_Ezer_notice_imp">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>

	<bean id="dao_Ezer_faq_imp" class="com.ezer_g.www.dao.Dao_Ezer_faq_imp">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="dao_Ezer_Qa_imp" class="com.ezer_g.www.dao.Dao_Ezer_Qa_imp">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="dao_Ezer_news_Imp" class="com.ezer_g.www.dao.Dao_Ezer_news_Imp">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="dao_Ezer_event_imp" class="com.ezer_g.www.dao.Dao_Ezer_event_imp">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>

	<!-- 서비스 임플 -->
	<bean id="ezer_Notice_Service_IMp" class="com.ezer_g.www.service.Ezer_Service_IMp">
		<property name="den" ref="dao_Dao_Ezer_notice_imp"></property>
		<property name="def" ref="dao_Ezer_faq_imp"></property>
		<property name="qa" ref="dao_Ezer_Qa_imp"></property>
		<property name="news" ref="dao_Ezer_news_Imp"></property>
		<property name="event" ref="dao_Ezer_event_imp"></property>
	</bean>

	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters" ref="jsonConvert"></property>
	</bean>
	<bean id="jsonConvert"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes" value="application/json"></property>
	</bean>
	
<!-- 	<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
	<property name="objectMapper" ref="objectMapper"></property>
	<property name="modelKey" value="result"></property>
	<property name="extractValueFromSingleKeyModel" value="true"></property>
	</bean> -->
 	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.ezer_g.www.aop.interceptors"></bean>
		</mvc:interceptor>
	</mvc:interceptors>  -->

	

</beans>
